.container {
  text-align: center;
  font-size: 17px;
  margin-top: 23px;
}
table {
  margin: auto;
  font-size: 34px;
}
input {
  border: 3px solid #ae8f8f;
  border-radius: 11px;
  padding: 6px;
  width: 322px;
  color: rgb(253, 208, 208);
  background-color: rgb(87, 82, 75);
}

button {
  font-size: 23px;
  background-color: rgb(209, 111, 122);
  height: 61px;
  width: 70px;
  border-radius: 16px;
  margin: 8px;
}

.calculator {
  display: inline-block;
  border: 4px solid rgb(170, 114, 114);
  background-color: rgb(177, 58, 58);
  padding: 12px 6px 4px 2px;
  border-radius: 18px;
}
button:hover {
  background-color: rgb(240, 198, 168);
}
body {
  background-color: burlywood;
  height: 900%;
  width: 100%;
}
